 .hero{
     text-align: center;
        padding:10em 0;
        margin-bottom: 3em;
        @include background-image(scroll);

        h1,p{
            color:$blue;
            margin:0;
            font-size: 2em;
        }

        h1{
            text-shadow: 0 2px 4x $black;
            font-size: 5em;
        }  

    }


    .services{
        background:lighten($white,20%);
        padding:5em,0;

        .column {
            text-align: center;

            img {
                height:120px;
            }  


            h2 {
                position:relative;
                margin-top:1.5em;



                }
            }
        } 

    body.home .portfolio,
    body.single-portfolio .portfolio,
    body.post-type-archive-portfolio .portfolio{
          text-align: center;  
        padding:3em;

        .column {
            padding:5em 0 2em;
            @include background-image(scroll);
        
        
//      Hover Font     
        
        h3,a {
            color:$black;
            opacity: 0;
            position: relative;
            z-index: 99;
            @include ease;
        }
        
     h3 .portfolio-headline{
            padding-top: 100%;
            padding-left: 14em;
            text-align: center;
        }  
        
       
        a {
           $arrowOffset: 0.3em; 
            
            display: inline-block;
            text-decoration: none;
            height:2em - $arrowOffset;
            width:2em;
            padding-top: $arrowOffset;
            border: 2px solid white;
            border-radius:50%;
        }
        
        &:after {
            content:'';
            background:$gray;
            opacity:0;
            position:absolute;
            top: 0;
            bottom:0;
            left:0;
            right:0;
            @include ease;
        }
        
        &:hover{
            h3, a {opacity:1;
            
            &:after{
                opacity: 0.8;
            }
        } 
    }
}
    .view-more {
       display:block;
        margin-top: 2em;
        text-transform: uppercase;
        text-decoration: none;
        color:$black;
        font-size:1.1em
            
            span {
                color:$gray;
                margin-left: 0.25em;

                }
        }
}


    .recent-blog {
        background:$gray;
        padding:3em,0;
        h4{text-align: center;}
    }

    .blog-post{
        background:$white;
        padding:2em 3em;
        margin-bottom: 2em;
        text-align: center; 
        box-shadow: 0 2px 5px darken($gray,20%);

        &:last-of-type {
            margin-bottom: 3em;
        }     
        .row{
            width: 50%;
        }     


    p{
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    h3{
        margin-top: 0;
        padding-bottom: 0.25em;
        margin-bottom: 0.53m;
        border-bottom: 2px solid $black;
    }

    .read-more{
        display:block;
        text-align: right;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
    }
}


//portfolio

 

    .nav-links{
        @extend .row;
        a{
            text-decoration: none;
            color: black;
        }
    .nav-previous{
        float: left
        }
    .nav-next{
        float:right;
        }
    }

//widgets



    .widget {
        float:left;
    }

    .widget.widget_archive{
        padding-left: 1em;
    }  

    .widget.widget_recent_entries{
        padding-left: 15em;
    }


