

/* Columns & Row */
.row {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 0;
    @include clearfix;
}

.column {
    $gutter:2%;
//    border-right: 2px solid $black;
  float: left;
  margin-right: $gutter;

    &.two-third {
      width:(((100% / 3) * 2) - ($gutter / 2)); //65%
    }
    &.one-half {
      width: (100% / 2) - ($gutter / 2); //49%
    }
    &.one-third {
      width: ((95% / 3)- ($gutter / 2)); // 32%
    }

  
    
    &:last-of-type, &:nth-child(3n){
    margin-right:0;
     margin-bottom: $gutter;
    border-right: 0px;
}

@include breakpoint(phone) {
    width: 100% !important;
    margin-right: 0;
  }
}